<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Fbprofile:</strong>
  <%= @user_profile.fbprofile_id %>
</p>

<p>
  <strong>Refernces:</strong>
  <%= @user_profile.refernces %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
