<h1>Listing slogans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slogans.each do |slogan| %>
      <tr>
        <td><%= slogan.name %></td>
        <td><%= slogan.content %></td>
        <td><%= slogan.user_id %></td>
        <td><%= link_to 'Show', slogan %></td>
        <td><%= link_to 'Edit', edit_slogan_path(slogan) %></td>
        <td><%= link_to 'Destroy', slogan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slogan', new_slogan_path %>
